@inherits LayoutComponentBase

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="container">
            <div class="row content">
                <div class="col" />
                <div class="col-10">
                    @Body
                </div>
                <div class="col" />
            </div>
        </div>

    </div>
